.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .item {
    margin-left: 15px;

    h3 {
      text-align: center;
    }

    .upload_box {
      position: relative;
      box-sizing: border-box;
      padding: 10px;
      margin-top: 25px;
      width: 400px;
      min-height: 150px;
      border: 1px dashed #ddd;

      .upload_inp {
        display: none;
      }

      .upload_drag {
        height: 130px;
        position: relative;

        .icon {
          top: 40%;
          width: 80px;
          height: 62px;
          background: url('../assets/upload.png') no-repeat;
          background-size: 100% 100%;
        }

        .text {
          top: 80%;
          line-height: 25px;
          color: #999;
          font-size: 12px;

          a {
            color: #409eff;
          }
        }

        .icon,
        .text {
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .upload_mark {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        font-size: 12px;
        color: #fff;
        text-align: center;
        line-height: 150px;
      }

      .upload_button_box {
        display: flex;

        .upload_button {
          position: relative;
          box-sizing: border-box;
          margin-right: 10px;
          padding: 0 10px;
          min-width: 80px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          border: none;
          cursor: pointer;
          background-color: #ddd;
          overflow: hidden;

          &::after {
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 999;
            transition: top 0.1s;
            box-sizing: border-box;
            padding-left: 25px;
            width: 100%;
            height: 100%;
            content: 'loading...';
            text-align: left;
            background: url('../assets/loading.gif') no-repeat 5px center #eee;
            background-size: 15px 15px;
            color: #999;
          }

          &.loading {
            cursor: inherit;

            &::after {
              top: 0;
            }
          }
          &.select {
            background: #409eff;
            color: #fff;
          }
          &.upload {
            background: #67c23a;
            color: #fff;
          }
          &.disable {
            background: #eee;
            color: #999;
            cursor: inherit;
          }
        }
      }

      .upload_tip {
        margin-top: 10px;
        line-height: 25px;
        color: #999;
        font-size: 12px;
      }

      .upload_list {
        margin-top: 10px;

        li {
          line-height: 25px;
          font-size: 0;

          span {
            display: inline-block;
            margin-right: 10px;
            max-width: 70%;
            color: #999;
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            em {
              padding: 0 5px;
              color: lightcoral;
              cursor: pointer;
              font-style: normal;
            }
          }
        }
      }

      .upload_abbre,
      .upload_progress {
        margin-top: 10px;
      }

      .upload_abbre {
        img {
          display: block;
          width: 100%;
        }
      }

      .upload_progress {
        position: relative;
        height: 5px;
        background: #eee;

        .value {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 999;
          height: 100%;
          width: 0%;
          background: #67c23a;
          transition: width 0.3s;
        }
      }

      .upload_list,
      .upload_abbre,
      .upload_progress,
      .upload_mark {
        display: none;
      }
    }
  }
}
